<div>
<br/><br/>
<section id="forms">
  <div class="page-header">
    <h1>Signup</h1>
  </div>

<form class="form-horizontal well" method="post">
  <fieldset>
  <legend>Just a few details</legend>
    <div class="control-group">
      <label class="control-label" for="input01">Email</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="email" name="email">
        
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="selectplan">Select Vid</label>
      <div class="controls">
        <select id="selectplan" name="selectplan">
          <option>Postgres - 5</option>
          <option>Raven - 10</option>
          <option>SQL Server - 20</option>
        </select>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Invoice it</button>
    </div>
  </fieldset>
</form>
</section>
</div>
<hr/>